<swiper-container
  class="mySwiper"
  pagination="true"
  speed="1000"
  easing="ease-in-out"
  pagination-clickable="true"
  navigation="true"
  space-between="10"
  centered-slides="true"
  autoplay-delay="2500"
  autoplay-disable-on-interaction="false"
>
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-5xl font-bold">
          Fresh Products <br />
          Delivered to your Door
        </h2>
        <p>Get 20% off your first order</p>
        <div class="mt-4">
          <a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-white border-2 border-white/50 text-blue-500"
            routerLink="/shop"
            >Shop Now</a
          ><a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-transparent border-2 border-white/50 text-white ml-2"
            routerLink="/about"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-5xl font-bold">
          Premium Quality <br />
          Guaranteed
        </h2>
        <p>Fresh from farm to your table</p>
        <div class="mt-4">
          <a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-white border-2 border-white/50 text-blue-500"
            href="/shop"
            >Shop Now</a
          ><a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-transparent border-2 border-white/50 text-white ml-2"
            routerLink="/about"
            >Learn More</a
          >
        </div>
      </div>
    </div>
  </swiper-slide>
  <swiper-slide>
    <div class="h-100 flex items-center item">
      <div class="w-full px-20 text-white space-y-4">
        <h2 class="text-5xl font-bold">Fast & Free Delivery</h2>
        <p>Get 20% off your first order</p>
        <div class="mt-4">
          <a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-white border-2 border-white/50 text-purple-500"
            routerLink="/shop"
            >Order Now</a
          ><a
            class="btn py-3 px-4 cursor-pointer rounded-md hover:scale-110 transition-all inline-block duration-300 bg-transparent border-2 border-white/50 text-white ml-2"
            routerLink="/delivery"
            >Delivery Info</a
          >
        </div>
      </div>
    </div>
  </swiper-slide>
</swiper-container>
